<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.tempcat.dao.FreeMapper">

	<insert id="freeWrite" parameterType="Free">
		insert into
		tempcat_free
		(freenum, id, title, contents, nickname)
		values
		(tempcat_free_seq.nextval, #{id},
		#{title}, #{contents}, #{nickname})
	</insert>

	<select id="freeList" resultType="Free">
		select * from tempcat_free
	</select>

	<select id="freeList2" parameterType="String" resultType="Free">
		select freenum, id, title, contents, to_char(inputdate, 'YY/MM/DD')
		inputdate,
		hits, originalfile,
		savedfile, nickname
		from tempcat_free
		<if test="#{_parameter!=null}">
			where title like '%' || #{_parameter} || '%'
		</if>
		order by freenum desc
	</select>

	<select id="freeRead" parameterType="String" resultType="Free">
		select *
		from tempcat_free join (select id, nickname from
		tempcat_member)
		using(id)
		where freenum=#{freenum}
	</select>

	<update id="freeHits" parameterType="String">
		update tempcat_free
		set
		hits =
		hits+1
		where freenum = #{freenum}
	</update>

	<insert id="replyWrite" parameterType="fReply">
		insert into free_reply
		(num, id, nickname, freenum, contents)
		values
		(free_reply_seq.nextval,
		#{id},
		#{nickname}, #{freenum},
		#{contents}
		)
	</insert>

	<select id="fReplyList" parameterType="String" resultType="fReply">
		select * from free_reply where freenum like
		#{freenum}
		order
		by num asc
	</select>

	<delete id="fReplyDelete" parameterType="String">
		delete free_reply
		where
		num = #{num}
	</delete>

	<update id="fReplyUpdate" parameterType="fReply">
		update free_reply
		set
		contents = #{contents}, inputdate = default
		where num = #{num}
	</update>

	<select id="setFree" resultType="Free">
		select * from tempcat_free
		where
		rownum &lt; 4 order by freenum desc
	</select>

	<select id="selectMyfreeNum" parameterType="String" resultType="int">
		select freenum from tempcat_free where freenum in (select
		max(freenum) maxnum
		from tempcat_free where id = #{id})
	</select>

	<select id="selectFreereplyNum" parameterType="String" resultType="int">
		select num from free_reply where num in (select
		max(num)
		maxnum from free_reply where id = #{id})
	</select>

	<delete id="freeBoardDelete" parameterType="map">
		delete tempcat_free where id=#{id} and freenum = #{freenum}
	</delete>

	<update id="freeUpdate" parameterType="Free">
		update tempcat_free
		set title = #{title}, contents = #{contents}
		where id=#{id} and freenum=#{freenum}
	</update>
</mapper>
