<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.tempcat.dao.MemberMapper">
	<select id="checkId" parameterType="Member" resultType="Member">
		select *
		from tempcat_member
		where id = #{id}
	</select>

	<insert id="signup" parameterType="Member">
		insert into tempcat_member
		(id, pw,
		name, nickname, email)
		values
		(#{id}, #{pw}, #{name},
		#{nickname},
		#{email})
	</insert>

	<select id="login" parameterType="Member" resultType="Member">
		select *
		from tempcat_member
		where id = #{id} and pw = #{pw}
	</select>

	<select id="logindate" parameterType="Member">
		update tempcat_member
		set
		logindate = sysdate
		where id=#{id}
	</select>

	<insert id="addMynotice" parameterType="Profile">
		insert into
		tempcat_profile
		(id, mynotice)
		values
		(#{id}, #{mynotice})
	</insert>

	<insert id="addMyfree" parameterType="Profile">
		insert into
		tempcat_profile
		(id, myfree)
		values
		(#{id}, #{myfree})
	</insert>

	<insert id="addNoticereply" parameterType="Profile">
		insert into
		tempcat_profile
		(id, noticereply)
		values
		(#{id}, #{noticereply})
	</insert>
</mapper>
